auth.ini
auth-release.ini
WinSCP.ini
WinSCP.com
*.exe
*.jar
ftpCmd.dat
*.pyc
Build/
*.zip
*.rar

.idea/Javascript Compiler.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries
